@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.degree-studies-menu .main-links-container {
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.degree-studies-menu .main-links-container .main-links {
  box-shadow: 1px 1px 5px 1px grey;
  width: 50%;
  height: auto;
  margin: 5px;
  background-color: bisque;
  position: relative;
}
.degree-studies-menu .main-links-container .main-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.degree-studies-menu .main-links-container .main-links p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: whitesmoke;
  font-size: 3.5vw;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  text-shadow: 2px 2px 5px black;
}
.degree-studies-menu .main-links-container .main-links h2 {
  font-size: 1.5vw;
  color: #3878AC;
}
.degree-studies-menu .main-links-container .main-links .story {
  flex-direction: row;
  font-size: 24px;
  font-weight: 300;
  color: #404040;
  position: relative;
  font-size: 1.1vw;
  text-shadow: 0 0 0;
  width: 90%;
  margin: 0px;
  margin-bottom: 20px;
}
.degree-studies-menu .main-links-container .main-links .registered-students {
  font-size: 2.5vw;
}

.main-links-container {
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.main-links-container .main-links {
  box-shadow: 1px 1px 5px 1px grey;
  width: 33%;
  height: auto;
  margin: 5px;
  background-color: bisque;
  position: relative;
}
.main-links-container .main-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.main-links-container .main-links p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: whitesmoke;
  font-size: 3.5vw;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  text-shadow: 2px 2px 5px black;
}
.main-links-container .main-links .registered-students {
  font-size: 2.5vw;
}

.news-section {
  width: 100%;
  height: 500px;
  background-color: white;
  position: relative;
  margin-bottom: 25px;
}
.news-section .news-header {
  color: #3878ac;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.123);
}
.news-section .news-header h1 {
  padding: 20px;
  padding-right: 25px;
  margin: 0px;
  font-weight: 600;
}
.news-section .news-header p {
  padding: 20px;
  padding-left: 25px;
  font-size: larger;
}
.news-section .news-header img {
  width: 15px;
}
.news-section .news-card-wrapper {
  display: flex;
  flex-direction: row;
}
.news-section .news-card-wrapper .news-items {
  display: flex;
  flex-direction: row;
}
.news-section .news-card-wrapper .news-items .news-item-card {
  height: 100%;
  width: 24%;
  margin: 5px;
}
.news-section .news-card-wrapper .news-items .news-item-card img {
  width: 100%;
}
.news-section .news-card-wrapper .news-items .news-item-card:first-child {
  margin-right: 25px;
}
.news-section .news-card-wrapper .news-items .news-item-card:last-child {
  margin-left: 25px;
}

.events-seminars {
  display: flex;
  flex-direction: row;
  height: min-content;
  margin-bottom: 50px;
  position: relative;
}
.events-seminars .header {
  color: #3878ac;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.123);
}
.events-seminars .header h1 {
  padding: 20px;
  padding-right: 25px;
  margin: 0px;
  font-weight: 600;
}
.events-seminars .header p {
  padding: 20px;
  padding-left: 25px;
  font-size: larger;
}
.events-seminars .header img {
  width: 15px;
}
.events-seminars .events {
  width: 49%;
  margin-left: 13px;
  height: min-content;
  background-color: white;
}
.events-seminars .events .event-list {
  display: flex;
  flex-direction: column;
}
.events-seminars .events .event-list .event {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.events-seminars .events .event-list .event .right {
  width: 20%;
  border: 1px solid rgba(128, 128, 128, 0.123);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}
.events-seminars .events .event-list .event .right p {
  font-size: 1vw;
  margin: 0px;
  margin-left: 20px;
}
.events-seminars .events .event-list .event .right h2 {
  font-size: 1.6vw;
  margin: 0px;
  margin-left: 20px;
  color: #29a9dd;
  padding: 0px;
}
.events-seminars .events .event-list .event .right small {
  font-size: 0.8vw;
  margin-left: 20px;
  color: #b0c0d1;
}
.events-seminars .events .event-list .event .left {
  padding: 10px 40px;
  width: 80%;
  border: 1px solid rgba(128, 128, 128, 0.123);
}
.events-seminars .events .event-list .event .left h4 {
  color: #3878ac;
  font-size: 1.1vw;
  margin: 0px;
  margin-bottom: 4px;
}
.events-seminars .events .event-list .event .left p {
  margin-top: 4px;
  margin-bottom: 0px;
  color: #2d354d;
  font-weight: 200;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.events-seminars .seminars {
  margin-right: 13px;
  background-color: #315277;
  width: 49%;
}
.events-seminars .seminars .header {
  border-bottom: 1px solid white;
  color: white;
}
.events-seminars .seminars .seminar-list {
  display: flex;
  flex-direction: column;
}
.events-seminars .seminars .seminar-list .seminar {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.events-seminars .seminars .seminar-list .seminar .right {
  width: 20%;
  border: 1px solid rgba(128, 128, 128, 0.123);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}
.events-seminars .seminars .seminar-list .seminar .right p {
  font-size: 1vw;
  color: white;
  margin: 0px;
  margin-left: 20px;
}
.events-seminars .seminars .seminar-list .seminar .right h2 {
  font-size: 1.6vw;
  margin: 0px;
  margin-left: 20px;
  color: white;
  padding: 0px;
}
.events-seminars .seminars .seminar-list .seminar .right small {
  font-size: 0.8vw;
  margin-left: 20px;
  color: #b0c0d1;
}
.events-seminars .seminars .seminar-list .seminar .left {
  padding: 10px 40px;
  width: 80%;
  border: 1px solid rgba(128, 128, 128, 0.123);
}
.events-seminars .seminars .seminar-list .seminar .left h4 {
  color: white;
  font-size: 1.1vw;
  margin: 0px;
  margin-bottom: 4px;
}
.events-seminars .seminars .seminar-list .seminar .left p {
  margin-top: 4px;
  margin-bottom: 0px;
  color: white;
  font-weight: 200;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.first-degree-home {
  display: flex;
  flex-direction: column;
  position: relative;
}
.first-degree-home a {
  text-decoration: none;
}
.first-degree-home a:visited {
  color: black;
}
.first-degree-home h3 {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  color: #3878AC;
  padding-right: 20px;
  margin-top: 20px;
}
.first-degree-home p {
  color: #2d354d;
  font-size: 1.12vw;
  font-weight: 300;
  text-align: justify;
}
.first-degree-home header {
  z-index: -10;
  padding: 0px;
  margin-right: -15.8%;
  margin-bottom: 40px;
}
.first-degree-home header div {
  position: relative;
}
.first-degree-home header div img {
  padding: 0px;
  margin-left: 1000px;
  width: 100vw;
  height: 250px;
}
.first-degree-home header div h1 {
  position: absolute;
  font-size: 2.5vw;
  font-weight: 300;
  color: white;
  padding-right: 13.5%;
  font-family: "Heebo", sans-serif;
  z-index: 2;
  top: 30%;
}
.first-degree-home header div .mask {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 250px;
  z-index: 1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(15, 52, 100, 0.719));
}
.first-degree-home .content {
  display: flex;
  flex-direction: row;
}
.first-degree-home .content .left-container {
  width: 70%;
  background-color: white;
  margin-right: 25px;
}
.first-degree-home .content .left-container .videos {
  display: flex;
  flex-direction: row;
}
.first-degree-home .content .left-container .videos .video {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 33%;
}
.first-degree-home .content .left-container .videos .video iframe {
  width: 100%;
}
.first-degree-home .content .left-container .videos .video small {
  font-size: 0.7vw;
}
.first-degree-home .content .left-container .course-offerings {
  padding: 20px;
}
.first-degree-home .content .left-container .course-offerings p {
  color: #2d354d;
  font-size: 1.15vw;
  font-weight: 300;
}
.first-degree-home .content .right-container {
  width: 30%;
}
.first-degree-home .content .right-container ul {
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.first-degree-home .content .right-container ul li {
  list-style: none;
  text-align: start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2vw;
}
.first-degree-home .content .right-container ul li:hover {
  background-color: #29a9dd;
  color: white;
}
.first-degree-home .faculty-uniqueness {
  display: flex;
}
.first-degree-home .faculty-uniqueness .right-container {
  width: 50%;
  padding-right: 20px;
}
.first-degree-home .faculty-uniqueness .right-container iframe {
  width: 100%;
  height: 300px;
}
.first-degree-home .faculty-uniqueness .left-container {
  width: 50%;
  padding-left: 20px;
}
.first-degree-home .faculty-uniqueness .left-container ul {
  margin-top: 0px;
}
.first-degree-home .faculty-uniqueness .left-container ul li {
  text-align: justify;
  list-style-image: url(../images/list-image.png);
  color: #2d354d;
  font-size: 1vw;
  font-weight: 300;
}
.first-degree-home .employment {
  display: flex;
}
.first-degree-home .employment .right-container {
  width: 50%;
  padding-right: 20px;
}
.first-degree-home .employment .right-container iframe {
  width: 100%;
  height: 300px;
}
.first-degree-home .employment .left-container {
  width: 50%;
  padding-left: 20px;
}
.first-degree-home .employment .left-container p {
  margin: 0px;
}
.first-degree-home .ending {
  padding: 20px;
}
.first-degree-home .ending ul {
  margin-top: 0px;
  margin: 0px;
  padding: 20px;
}
.first-degree-home .ending ul li {
  text-align: justify;
  list-style-image: url(../images/list-image.png);
  color: #2d354d;
  font-size: 1.2vw;
  font-weight: 300;
  margin-top: 20px;
}
.first-degree-home .ending iframe {
  width: 100%;
  min-height: 20vh;
  height: 50vh;
}

.lightning {
  background-image: url(../images/lightning-3652193_640.jpg);
}

.binary {
  background-image: url(../images/binary-2910663_1920.jpg);
}

.physics {
  background-image: url(../images/albert-einstein-1933340_1280.jpg);
}
.physics h2 {
  font-size: 1vw;
}

.info {
  background-image: url(../images/question-mark-3255118_1280.jpg);
}

.ece {
  background-image: url(../images/binary-code-6404957_1920.jpg);
}

.custom-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.custom-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.custom-card h2 {
  padding: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-weight: 500;
  margin: 0px;
}
.custom-card p {
  color: #2d354d;
  font-weight: 500;
}
.custom-card button {
  border: 1px #ffffff solid;
}
.custom-card .card-paragraph {
  color: white;
}

.dropdown-content {
  min-width: 20%;
  max-width: 100%;
  padding-bottom: 50px;
}
.dropdown-content p {
  font-size: 1.1vw;
  padding: 25px;
  margin: 0px;
}
.dropdown-content iframe {
  width: 100%;
  height: 500px;
  padding: 25px;
}
.dropdown-content img {
  position: relative;
  width: 100%;
  padding: 25px;
}

.p-info {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-link {
  font-size: large;
  color: #29A9DD !important;
}

.p-link:visited {
  color: #29A9DD !important;
}

body {
  direction: rtl;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  letter-spacing: unset;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 4%;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.banner-text {
  font-size: 1.5vw !important;
}

.carousel {
  margin-bottom: 25px;
}

.background-container {
  position: absolute;
  margin: 0px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 265px;
  background-color: white;
  z-index: -10;
}

.site-versions {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  background-color: #002147;
  color: whitesmoke;
}
.site-versions p {
  margin-right: 20px;
  margin-left: 20px;
}

nav {
  height: 120px;
}
nav .top-nav-container {
  display: flex;
}
nav .top-nav-container .top-right-nav {
  justify-content: start;
  width: 70%;
}
nav .top-nav-container .top-right-nav .ecc-logo {
  height: 50px;
}
nav .top-nav-container .top-left-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
nav .top-nav-container .top-left-nav .technion-logo {
  height: 50px;
}
nav .top-nav-container .top-left-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .top-nav-container .top-left-nav ul li {
  list-style: none;
  margin-left: 5px;
}
nav .nav-links ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0px;
}
nav .nav-links ul li {
  list-style-type: none;
}
nav .nav-links ul li a {
  color: #106549;
  text-decoration: none;
}
nav .nav-links ul li a:active {
  color: #106549;
}
nav .nav-links ul li a:visited {
  color: #002147;
}

/*# sourceMappingURL=index.css.map */
