<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <title>Document</title>
</head>
<body class="degree-studies-menu">
    <nav>
        <div class="top-nav-container">
          <div class="top-right-nav">
            <a href="../../index.html"
              ><img
                class="ecc-logo"
                src="../../static/images/EELogoHeb2-05-1.svg"
                alt=""
            /></a>
          </div>
          <div class="top-left-nav">
            <img
              class="technion-logo"
              src="../../static/images/TechnionIIT-Hebrew.png"
              alt=""
            />
            <ul>
              <li>ic</li>
              <li>ic</li>
              <li>ic</li>
            </ul>
          </div>
        </div>
        <div class="nav-links">
          <ul>
            <li>אודות</li>
            <li>מחקר</li>
            <!-- <li><a href="./intrested.html"> לימודי תואר</a></li> -->
            <li>קשרי תעשיה</li>
            <li>אנשים</li>
            <li>אירועים</li>
            <li>מדיה</li>
            <li>צור קשר</li>
          </ul>
        </div>
      </nav>
      <div class="main-links-container">
        <div class="main-links">
          <img src="../../static/images/startup-593344_1920.jpg" alt="" />
          <a href="./first-degree/first-degree.html"><p>תואר ראשון</p></a>
          <h2>הנדסת חשמל – השער להיי-טק!</h2>
          <p class="story">הפקולטה להנדסת חשמל ומחשבים מקיימת תכניות לימודים לתואר ראשון (מהנדס) בהנדסת חשמל, בהנדסת מחשבים ותכנה, בהנדסת חשמל-פיזיקה (תכנית לימודים משולבת עם הפקולטה לפיסיקה) 
            ובהנדסת מחשבים (תכנית לימודים משולבת עם הפקולטה למדעי המחשב) כן ו תכניות לימודי תארים מתקדמים לקראת תואר מגיסטר ודוקטור. הפקולטה ידועה כאחת הפקולטות המובילות בעולם בתחומה.</p>
          <p class="story">
            בפקולטה מתקיימת פעילות מחקרית ענפה במגוון רחב של תחומים. שטחי הפעילות כוללים:
          </p>
          <p class="story">
            תקשורת ותורת האינפורמציה, עיבוד אותות דיבור ותמונות, מחשבים ורשתות מחשבים, רשתות תקשורת נתונים ומערכות מולטימדיה, הנדסת תכנה ותכנון בעזרת מחשב, אלקטרואופטיקה (אופטואלקטרוניקה) ותקשורת אופטית, שדות וגלים אלקטרומגנטיים, מיקרואלקטרוניקה והתקנים אלקטרוניים, מעגלים אלקטרוניים משולבים רבי הקף (VLSI),אלקטרוניקת מצב מוצק, ננוטכנולוגיה, בקרה ורובוטיקה, מערכות ביולוגיות, אלקטרוניקה רפואית ועיבוד מבוא לאותות ומערכות, ראייה ומדעי התמונה, רשתות , מעגלים, למידת מכונה ומערכות נבונות, אנרגיה ומערכות הספק וטכנולוגיות קוונטיות.          </p>
        <p class="story">כל תחומי הנדסת החשמל והמחשבים משתנים, לובשים ופושטים צורה בקצב מהיר. על מנת לאפשר יכולת שילוב ועמידה בקצב השינויים הצפויים, מקנה הפקולטה לבוגריה רקע מדעי נרחב ויסודי, מקפידה בבחירת המועמדים ועל רמה גבוהה במשך תקופת הלימודים, כדי לאפשר לבוגרים לא רק להתמודד בבעיות הנדסיות עכשוויות אלא להיענות לאתגרים עתידיים.</p>
        <p class="story">
            לבוגרי תואר ראשון בהצטיינות מוצע להמשיך בלימודיהם לתואר מגיסטר ודוקטור המאפשרים העמקת והשלמת ידיעות עיוניות ויישומיות, וביצוע מחקר. בכך מכשירה הפקולטה את המצטיינים שבין בוגריה לתפקידי מנהיגות טכנולוגית ואקדמית.
          </p>
        </div>
        <div class="main-links">
          <img src="../../static/images/adult-education-2706977_640.jpg" alt="" />
          <a href="./second-degree/second-degree.html"><p class="registered-students"> תארים מתקדמים</p></a>
          <h2>תואר שני הוא בדיוק המקום לגלות, להעמיק, להיות יצירתיים.</h2>
          <p class="story">
            למה לימודי תארים מתקדמים בהנדסת חשמל?
ההיבט ה”חומרי”: במציאות של ימינו, לאור התחרות הגוברת בין מדינות המשקיעות בתחום ההיי-טק, תארים מתקדמים בהנדסת חשמל/הנדסת מחשבים הופכים לנכס חיוני. הקשר בין תואר מתקדם לבין מנהיגות בתחום הטכנולוגיה כבר ברור לכל. לדוגמה, כחצי מהסטארט-אפים הישראליים (בתחומי הנדסת חשמל/הנדסת מחשבים) מתהדרים במייסד טכני בעל תואר שלישי. יתרה מזאת, ניכר כי “טכנולוגיה עמוקה” של חברה (אשר מתבטאת בעיקר במספר העובדים בעלי תארים מתקדמים) מגדילה משמעותית את שווי השוק שלה. לעומת זאת, ניכר מחסור בבעלי תואר שלישי בתחומים אלה בישראל: בין בוגרי הנדסת חשמל ומחשבים רק 2% הם בעלי תואר PhD ו-10% בעלי תואר MSc (בהשוואה ל-9% ול-50% בהתאמה בארצות הברית). כתוצאה מכך הולך וגובר הביקוש לבעלי תואר שני ושלישי בתעשייה.
          </p>
          
          
        </div>
    </div>
</body>
</html>