<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/w3.css">
    <link rel="stylesheet" href="../../static/css/index.css">  
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="top-nav-container">
          <div class="top-right-nav">
            <a href="../../index.html"
              ><img
                class="ecc-logo"
                src="../../../static/images/EELogoHeb2-05-1.svg"
                alt=""
            /></a>
          </div>
          <div class="top-left-nav">
            <img
              class="technion-logo"
              src="../../../static/images/TechnionIIT-Hebrew.png"
              alt=""
            />
            <ul>
              <li>ic</li>
              <li>ic</li>
              <li>ic</li>
            </ul>
          </div>
        </div>
        <div class="nav-links">
          <ul>
            <li>אודות</li>
            <li>מחקר</li>
            <!-- <li><a href="./intrested.html">  קהילת נשות הטכניון</a></li> -->
            <li>קשרי תעשיה</li>
            <li>אנשים</li>
            <li>אירועים</li>
            <li>מדיה</li>
            <li>
              <div class="w3-dropdown-hover" style="background-color: transparent;">
                צור קשר
                <div class="w3-dropdown-content" style="width:300px;z-index: 100;">
                  <div class="drop">
                    <a href="./contact-form.html">צור קשר</a>
                  </div>
                  <div class="drop">
                    <a href="./navigation.html"> דרכי הגעה </a>
                  
                  </div>  
                </div>
              </div>
              
            </li>
          </ul>
        </div>
      </nav>
    <section class="contact-form">
        <div class="right-container">

            <form action="">
                <input type="text" placeholder="מחלקות">
                <input type="text" placeholder="שם פרטי">
                <input type="text" placeholder="שם משפחה">
                <input type="text" placeholder="מייל">
                <input type="text" placeholder="טלפון">
                <textarea name="" id="" cols="30" rows="10" placeholder="הודעה"></textarea>
            </form>
        </div>
        <div class="left-container">
            sdfdsf
        </div>
    </section>
    
</body>
</html>