<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <title>Document</title>
</head>
<body class="degree-studies-menu">
    <nav>
        <div class="top-nav-container">
          <div class="top-right-nav">
            <a href="../../index.html"
              ><img
                class="ecc-logo"
                src="../../static/images/EELogoHeb2-05-1.svg"
                alt=""
            /></a>
          </div>
          <div class="top-left-nav">
            <img
              class="technion-logo"
              src="../../static/images/TechnionIIT-Hebrew.png"
              alt=""
            />
            <ul>
              <li>ic</li>
              <li>ic</li>
              <li>ic</li>
            </ul>
          </div>
        </div>
        <div class="nav-links">
          <ul>
            <li>אודות</li>
            <li>מחקר</li>
            <!-- <li><a href="./intrested.html"> לימודי תואר</a></li> -->
            <li>קשרי תעשיה</li>
            <li>אנשים</li>
            <li>אירועים</li>
            <li>מדיה</li>
            <li>צור קשר</li>
          </ul>
        </div>
      </nav>
      <div class="main-links-container">
        <div class="main-links">
          <img src="../../static/images/startup-593344_1920.jpg" alt="" />
          <a href="./first-degree/first-degree.html"><p>תואר ראשון</p></a>
          <h2>לכל המידע בנוגע לקורסים בעיות הקשורות לתואר ראשון  לסטודנטים קיימים ניתן לראות כאן</h2>
        </div>
        <div class="main-links">
          <img src="../../static/images/adult-education-2706977_640.jpg" alt="" />
          <a href="./second-degree/second-degree.html"><p class="registered-students">תארים מתקדמים </p></a>
          <h2> לכל המידע בנוגע לקורסים בעיות הקשורות לתואר מתקדם  לסטודנטים קיימים ניתן לראות כא</h2>       
        </div>
    </div>
</body>
</html>