$text-color:#3878ac;
$border-diamensions: 1px solid rgba(128, 128, 128, 0.123);

.main-links-container {
    
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    .main-links{
        box-shadow: 1px 1px 5px 1px grey;
        width: 33%;
        height: auto;
        margin: 5px;
        background-color: bisque;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
        
        p {  
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: whitesmoke;
            font-size: 3.5vw;
            top:0px;
            right:0px;
            left: 0px;
            bottom:0px;
            margin: auto;
            text-shadow: 2px 2px 5px black;
        }

        .registered-students {
            font-size: 2.5vw;
        }
    }
}

.news-section{
    // margin-top: 25px;
    width: 100%;
    height: 500px;
    background-color: white;
    position: relative;
    margin-bottom: 25px;
    .news-header {
        color: $text-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border-diamensions;
        h1 {
            padding: 20px;
            padding-right: 25px;
            margin: 0px;
            font-weight: 600;
            
        }
        p{
            padding: 20px;
            padding-left: 25px;
            font-size: larger;
        }
        img {
            width: 15px;
        }
    }
    .news-card-wrapper{
        display: flex;
        flex-direction: row;

        .news-items {
            display: flex;
            flex-direction: row;

            .news-item-card{
                height: 100%;
                width: 24%;
                margin: 5px;
                img{
                    width: 100%;
                }
            }

            .news-item-card:first-child {
                margin-right: 25px;
            }

            .news-item-card:last-child {
                margin-left: 25px;
            }
        }
    }
}

.events-seminars {
    display: flex;
    flex-direction: row;
    // background-color: coral;
    height: min-content;
    margin-bottom: 50px;
    
    position: relative;
    .header {
        color: $text-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border-diamensions;
        h1 {
            padding: 20px;
            padding-right: 25px;
            margin: 0px;
            font-weight: 600;
            
        }
        p{
            padding: 20px;
            padding-left: 25px;
            font-size: larger;
        }
        img {
            width: 15px;
        }
    }
    .events {
        width:49%;
        margin-left: 13px;
        height: min-content;
        background-color: white;
        .event-list {
            display: flex;
            flex-direction: column;
            .event {   
                display: flex;
                flex-direction: row;
                height: 100%;
                .right {
                    width: 20%;
                    border: $border-diamensions;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 10px;
                    p{
                        font-size: 1vw;
                        margin: 0px;
                        margin-left: 20px;    
                    }

                    h2 {
                        font-size: 1.6vw;
                        margin: 0px;
                        margin-left: 20px;       
                        color:#29a9dd;
                        padding: 0px;
                    }
                    small {   
                        font-size: 0.8vw;
                        margin-left: 20px;
                        color: #b0c0d1 ;
                    }

                }

                .left {
                    padding: 10px 40px;
                    h4{
                        color: #3878ac;
                        font-size: 1.1vw;
                        margin: 0px;
                        // margin-right: 40px;
                        margin-bottom: 4px;
                    }
                    p {
                        margin-top: 4px;
                        margin-bottom: 0px;
                        // margin-right: 40px;
                        color: #2d354d;
                        font-weight: 200;
                        font-size: medium;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        
                    }
                    width: 80%;    
                    border: $border-diamensions;
                }
            }
        }
        
    }

    .seminars {
        margin-right: 13px;
        background-color: #315277;
        width: 49%;
        .header {
            border-bottom: 1px solid white;
            color: white;

        }

        .seminar-list {
            display: flex;
            flex-direction: column;
            .seminar {   
                display: flex;
                flex-direction: row;
                height: 100%;
                .right {
                    width: 20%;
                    border: $border-diamensions;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 10px;
                    p{
                        font-size: 1vw;
                        color: white;
                        margin: 0px;
                        margin-left: 20px;    
                    }

                    h2 {
                        font-size: 1.6vw;
                        margin: 0px;
                        margin-left: 20px;       
                        color:white;
                        padding: 0px;
                    }
                    small {   
                        font-size: 0.8vw;
                        margin-left: 20px;
                        color: #b0c0d1  ;
                    }

                }
                .left {
                    padding: 10px 40px;
                    h4{
                        color: white;
                        font-size: 1.1vw;
                        margin: 0px;
                        // margin-right: 40px;
                        margin-bottom: 4px;
                    }
                    p {
                        margin-top: 4px;
                        margin-bottom: 0px;
                        // margin-right: 40px;
                        color: white;
                        font-weight: 200;
                        font-size: medium;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        
                    }
                    width: 80%;    
                    border: $border-diamensions;
                }
            }
        }
    }


}

