.degree-studies-menu {
    .main-links-container {
   
        height: 150px;
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        width: 100%;
        .main-links{
            box-shadow: 1px 1px 5px 1px grey;
            width: 50%;
            height: auto;
            margin: 5px;
            background-color: bisque;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.8;
            }
            ul{
                margin-top: 0px;
                font-size: 2vw;
                li{
                    
                    text-align: justify;
                    list-style-image: url(../images/list-image.png);
                    color: #2d354d;
                    font-size: 1vw;
                    font-weight: 300; 
                }
            }
            p {  
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                color: whitesmoke;
                font-size: 3.5vw;
                top:0px;
                right:0px;
                left: 0px;
                bottom:0px;
                margin: auto;
                text-shadow: 2px 2px 5px black;
            }
            h2 {
                font-size: 1.5vw;
                color: #3878AC;
            }


            .story {
                flex-direction: row;
                font-size: 24px;
                font-weight: 300;
                color:#404040 ;
                position: relative;
                font-size: 1.1vw;
                text-shadow: 0 0 0 ;
                width: 90%;
                margin: 0px;
                margin-bottom: 20px;
            }
    
            .registered-students {
                font-size: 2.5vw;
            }
        }
    }
}